﻿@model TurnerApp.Title

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Title</legend>

        <div class="editor-label">
            Movie Title
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleName)
            @Html.ValidationMessageFor(model => model.TitleName)
        </div>

        <div class="editor-label">
            Sortable Movie Title Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleNameSortable)
            @Html.ValidationMessageFor(model => model.TitleNameSortable)
        </div>

        <div class="editor-label">
            Movie Title Type ID
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleTypeId)
            @Html.ValidationMessageFor(model => model.TitleTypeId)
        </div>

        <div class="editor-label">
            Movie Release Year
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseYear)
            @Html.ValidationMessageFor(model => model.ReleaseYear)
        </div>

        <div class="editor-label">
            Movie Processed Date & Time
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProcessedDateTimeUTC)
            @Html.ValidationMessageFor(model => model.ProcessedDateTimeUTC)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "TitleIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
