﻿@model TurnerApp.Title

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Title</legend>

    <div class="display-label">
         Movie Title: @Html.DisplayFor(model => model.TitleName)
    </div>

    <div class="display-label">
         Sortable Movie Title: @Html.DisplayFor(model => model.TitleNameSortable)
    </div>

    <div class="display-label">
         Movie Title Type ID: @Html.DisplayFor(model => model.TitleTypeId)
    </div>

    <div class="display-label">
         Movie Release Year: @Html.DisplayFor(model => model.ReleaseYear)
    </div>

    <div class="display-label">
         Movie Processed Date & Time: @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "TitleIndex")
    </p>
}
