﻿@model TurnerApp.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Title</legend>

    <div class="display-label" id="xxx">
         Movie Name: @Html.DisplayFor(model => model.TitleName)
    </div>

    <div class="display-label">
         Sortable Movie Name: @Html.DisplayFor(model => model.TitleNameSortable)
    </div>

    <div class="display-label">
         Movie Type ID: @Html.DisplayFor(model => model.TitleTypeId)
    </div>

    <div class="display-label">
         Movie Release Year: @Html.DisplayFor(model => model.ReleaseYear)
    </div>

    <div class="display-label">
         Movie Date and Time of Processing: @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TitleId }) |
    @Html.ActionLink("Back to List", "TitleIndex")
</p>
