﻿@model IEnumerable<TurnerApp.Title>

@{
    ViewBag.Title = "TitleIndex";
}

<h2>A List of all Movie Titles are displayed below:</h2>

<p>
    @Html.ActionLink("Add a new Movie", "Create")
</p>

<form method="get">
    <input type="search" name="searchTerm" data-turner-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" name="Search by Title Name" />
</form>

<table id="titleIndex">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TitleName)*@
            Title Name
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TitleNameSortable)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TitleTypeId)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.ReleaseYear)*@
            Year Released
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC)
            Date the Movie was processed
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="titleClass">
            @Html.DisplayFor(modelItem => item.TitleName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TitleNameSortable)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.TitleTypeId)
        </td>*@
        <td class="titleClass">
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        @*<td class="titleClass">
            @Html.DisplayFor(modelItem => item.ProcessedDateTimeUTC)
        </td>*@
        <td class="titleClass">
            @Html.ActionLink("Edit", "Edit", new { id=item.TitleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TitleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TitleId })
        </td>
    </tr>
}

</table>
